{% load static %}


<!-- Icons -->
<link rel="stylesheet" href="{% static 'assets\line-awesome\css\line-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'assets\line-awesome\css\line-awesome.css' %}">
<!-- Plugins CSS File -->
<link rel="stylesheet" href="{% static 'assets\css\plugins\owl-carousel\owl.carousel.css' %}">
<link rel="stylesheet" href="{% static 'assets\css\plugins\owl-carousel\owl.theme.default.min.css' %}">
<link rel="stylesheet" href="{% static 'assets\css\plugins\magnific-popup\magnific-popup.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/plugins/nouislider/nouislider.css' %}">
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<!-- Main CSS File -->
<link rel="stylesheet" href="{% static 'assets\css\bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'assets\css\style.css' %}">
<link rel="stylesheet" href="{% static 'assets\css\skins\skin-demo-2.css' %}">
<link rel="stylesheet" href="{% static 'assets\css\demos\demo-2.css' %}">
<link rel="stylesheet" href="{% static 'assets\css\rtl.css' %}">
<link rel="stylesheet" href="{% static 'assets\css\fontawesome.min.css' %}">
