{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock title %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="Artynarium Admin Panel" />
    <meta name="author" content="Artynarium" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- app favicon -->
    <link rel="shortcut icon" href="{% static 'assets/admin_panel/img/favicon.ico' %}">
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <!-- plugin stylesheets -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/admin_panel/css/vendors.css' %}" />
    <!-- app style -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/admin_panel/css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'assets/admin_panel/css/custom.css' %}" />
</head>

<body>
    <!-- begin app -->
    <div class="app">
        <!-- begin app-wrap -->
        <div class="app-wrap">

            <!-- begin pre-loader -->
            <div class="loader">
                <div class="h-100 d-flex justify-content-center">
                    <div class="align-self-center">
                        <img src="{% static 'assets/admin_panel/img/loader/loader.svg' %}" alt="loader">
                    </div>
                </div>
            </div>
            <!-- end pre-loader -->

            <!-- begin app-header -->
            {% include "artynarium_admin/base/header.html" %}
            <!-- end app-header -->

            <!-- begin app-container -->
            <div class="app-container">
                <!-- begin app-navbar -->
                {% include "artynarium_admin/base/aside_navbar.html" %}
                <!-- end app-navbar -->

                <!-- begin app-main -->
                {% block content %}{% endblock content %}
                <!-- end app-main -->
            </div>
            <!-- end app-container -->

            <!-- begin footer -->
            <footer class="footer">
                <div class="row">
                    <div class="col-12 col-sm-6 text-center text-sm-left">
                        <p>&copy; Artynarium 2021. All rights reserved.</p>
                    </div>
                </div>
            </footer>
            <!-- end footer -->
        </div>
        <!-- end app-wrap -->
    </div>
    <!-- end app -->

    <!-- plugins -->
    <script src="{% static 'assets/admin_panel/js/vendors.js' %}"></script>

    <!-- custom app -->
    <script src="{% static 'assets/admin_panel/js/app.js' %}"></script>
</body>

</html>