{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load static %}
{% load widget_tweaks %}
{% block head_title %}{% trans "Password Reset" %}{% endblock %}


{% block content %}
<!-- style="background-image: url({% static 'allauth/images/bg-01.jpg' %});" -->
<div class="container-login100">
	<div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">

		<span class="login100-form-title p-b-37">
			{% trans "Password Reset" %}
        </span>
        
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <div class="text-center mt-3 mb-3">
            <p>{% blocktrans %}Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.{% endblocktrans %}</p>
        </div>
        

		<form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
			{% csrf_token %}
			{% for field in form %}
			<div class="form-group">
				<div class="form-control-border"></div>
				{% render_field field class="form-control" %}
			</div>
			{% endfor %}

			<div class="container-login100-form-btn">
                <button type="submit" class="login100-form-btn">{% trans "Reset My Password" %}</button>
			</div>
		</form>

        <div class="text-center mt-3">
            <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
        </div>
	</div>
</div>


{% endblock %}